<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <!-- TITLE -->
  <title>zCoin - Home</title>

  <!-- CSS -->
  <link rel="stylesheet" href="./css/styles.css">

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
</head>

<body style="background-color: #181E29">

  <nav class="navbar navbar-light bg-light nav-center">
      <a class="navbar-brand mx-auto" href="#"> <img src="./images/logo.png" width="70" height="70" alt=""> </a>
  </nav>

  <!-- Top Nav -->
  <nav class="nav"></nav>

  <img class="doge" src="./images/doge.png" alt="DOGE">

  <!-- Home Content -->
  <div class="home-content">
    <div class="home-header-text">

      <h1>Paper money is going away !</h1>
    </div>
    <br>
    <div class="home-subtext">
      <h4>
        <!--Buy Price - Sell Price = 0.-->ZCOIN is the easiest place to buy and sell cryptocurrency.<br>Sign up & get &#x20B9;100 Worth DOGE & &#x20B9;1000 Cash.
      </h4>
    </div>
    <br>
    <div class="home-buttons">
      <a href="getstarted"><button class="home-button" type="button" name="get-started">Get Started !</button></a>
      <a href="investorlogin"><button class="home-button login" type="button" name="login">Login</button></a>
    </div>
  </div>

  <!-- Home Image -->
  <div class="home-crypto-image">
    <!--
    <img class="monero" src="./images/monero.png" alt="MONERO">
    <img class="bitcoin" src="./images/bitcoin.png" alt="BITOCIN">
-->
    <img class="main-bg" src="./images/hero.png" alt="CRYPTO-BG">
  </div>

</body>

</html>
